services:
      postgres:
        image: postgres:16.1-alpine
        volumes:
          - ./postgres_data:/var/lib/postgresql/data
        env_file:
          - .env
        ports:
          - "5001:5432"
        healthcheck:
          test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
          interval: 10s
          timeout: 5s
          retries: 3

      bot:
        build: .
        depends_on:
          postgres:
            condition: service_healthy
        env_file:
          - .env
        restart: unless-stopped

